# macOS
.DS_Store

# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# JetBrains
.idea/

# VS Code
.vscode/

# Node / React
**/node_modules/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Test results
**/TestResults/
appsettings.Development.json